@import 'normalize.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: sans-serif;
}

html.loaded {
  font-family: '源暎エムゴ', sans-serif;
}

.font-awesome {
  height: 1em;
  vertical-align: -0.125em;
  width: 1em;
}
